<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Tabela de ninjas</title>
</head>
<body>
<h1>Lista de ninjas</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Email</th>
        <th>Rank</th>
        <th>Missoes</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each ="ninja: ${ninjas}">
        <td> <img th:src="${ninja.imgUrl}"></td>
        <td th:text="${ninja.id}"> </td>
        <td th:text="${ninja.nome}"> </td>
        <td th:text="${ninja.idade}"> </td>


    </tr>


    </tbody>
</table>

</body>
</html>